<% content_for :body do %>
    
    <h2 class="da-h2">Making the web more usable one step at a time</h2>

    <p>Dynamic Accessibility is a project dedicated to exploring ways to make the web easier to use for everyone.  The theory driving the project is that all users can benefit from simplier designs.  Even the most advanced users can have a better experience when interacting with a design that has less clutter, fewer options and larger elements.</p>

    <p>If you would like to participate in a trial, please <a class="da-link" href="/register">register to become a participant</a>.  Your participation will help us learn more about how people interact with the web and give valuable evidence to what developers can do to make web technology easier to access for everyone.</p>

    <p>Thank you in advance for your participation!</p>

<% end %>