@import 'compass';
@import 'variables';
@import 'mixins';

.da-task {
    position: relative;
    width: 800px;
    border: $dark_border;
    margin-bottom: base(2);
}

.da-task-instructions {
    position: absolute;
    display: block;
    bottom: 0;
    top: 0;
    width: base(40);
    padding: base(2);
    border-right: $dark_border;
    @include box-sizing(border-box);
}

.da-task-container {
    min-height: 550px;
    margin-left: base(40);
    padding: base(2);
}

.da-task-button {
    @include links;
}

@for $i from 0 through 4 {
    .level-#{$i} {
        color: adjustColor($i);
        font-size: 10px + 2px * $i;

        &.da-task {
            background-color: adjustBackground($i);
        }

        .da-task-button {
            color: adjustColor($i);
            padding: 2px * $i;
        }

        .da-task-label {
            margin-right: 2px * $i;
        }

        .da-task-input {
            line-height: 10px + 2px + $i;
            color: adjustColor($i);
        }
    }
}