<%= form_tag(:id => "task") do %>
    <% @activity['fields'].each_key do |field| %>
        <span class="da-task-form-row">
            <%= label_tag field, nil, :class => 'da-task-label' %>
            <%= text_field_tag field, nil, :class => 'da-task-input', :'data-x-role' => 'forminput', :'data-target-value' => @activity['fields'][field] %>
        </span>
    <% end %>
<% end %>