<% content_for :body do %>
    
    <div class="da-task level-<%= @level %>">
        <div class="da-task-instructions">
            <h2 class="da-dark-h2">Instructions</h2>

            <%= render ("tasks/" + @activity['type'] + '_instructions') rescue render ("tasks/instructions") %>
        </div>

        <div class="da-task-container">
            <%= render ("tasks/" + @activity['type']) %>
        </div>
    </div>

    <button class="da-button">Go To The Next Task</button>

<% end %>