<% content_for :body do %>
    <h1 class="da-h1">Trial data for: <%= @participant.email %></h1>

    <% if @participant.is_selected %>

        <table class="da-participant-table">
            <tr>
                <th class="da-participant-header task">Task</th>
                <th class="da-participant-header complete">Percentage Complete</th>
                <th class="da-participant-header start"></th>
            </tr>
            <% @tasks.each do |task| %>

                <% if task.is_active %>
                    <tr>
                        <td><%= task.name %></td>
                        <td><%= (task.completed_tasks.by_participant(@participant.id).length * 100 / task.count) %>%</td>
                        <td>
                            <% if task.completed_tasks.length == task.count %>
                                Task Complete
                            <% elsif task.prereq_id.nil? || task.prereq.completed_tasks.by_participant(@ participant.id).length == task.prereq.count %>
                                <a href="/tasks/<%= task.id %>" class="da-button">Start Task</a>
                            <% end %>
                        </td>
                    </tr>
                <% end %>

            <% end %>
        </table>

    <% else %>
        <p>Participants will be notified by email once they have been selected for the trial.  Thank you.</p>
    <% end %>
<% end %>