<% content_for :body do %>
    <h1 class="da-h1">Trial data for: <%= @participant.email %></h1>

    <table>
        <tr>
            <th>Trial</th>
            <th>Percentage Complete</th>
            <th></th>
        </tr>
        <% @tasks.each do |task| %>

            <% if task.is_active %>
                <tr>
                    <td><%= task.name %></td>
                    <td><%= task.complete/task.count %></td>
                    <td><button class="da-button">Start Task</button></td>
                </tr>
            <% end %>

        <% end %>
    </table>
<% end %>