@import 'compass';
@import 'variables';
@import 'mixins';

.da-nav {
    border-bottom: $light_border;
    padding: 0 $page_margin_side;
    margin-bottom: base(3);
}

.da-nav-list {
    @include inline-lists;
}

.da-nav-list-item {
    display: inline-block;
    border-left: $light_border;

    &:last-child {
        border-right: $light_border;
    }
}