@import 'compass';

@mixin headings {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

@mixin headings_dark {
    @include headings;
    color: $almost_black;
}

// Links and Buttons

@mixin links {
    text-decoration: none;
    color: $white;
    @include color-transition;

    &:hover,
    &:focus {
        color: $light-blue;
    }

    &:focus {
        outline: 0;
        @include single-box-shadow(
            $link-focus-glow-color,
            $link-focus-glow-offset,
            $link-focus-glow-offset,
            $link-focus-glow-blur);
    }
}

// Transitions

@mixin color-transition {
    @include single-transition(color, 0.2s, ease-in, 0);
}

@mixin bg-transition {
    @include single-transition(background-color, 0.2s, ease-in, 0);
}

// Lists

@mixin basic-lists {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin inline-lists {
    @include basic-lists;
    font-size: 0;

    li {
        font-size: $normal;
    }
}

@mixin horizontal-list {
    display: inline-block;
    @include basic-lists;
    font-size: 0;

    > li {
        display: inline-block;
        font-size: $normal;
    }
}

// Icons

@mixin icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

// Functions

@function base($multiplier) {
    @return $base_distance * $multiplier
}

@function adjustColor($level) {
    @return adjust-lightness($almost_white, -15 - (10 * $level) )
}

@function adjustBackground($level) {
    @return adjust-lightness($light_grey, 15 + (10 * $level) )
}