@import 'compass';
@import 'variables';
@import 'mixins';

body {
    font-family: Helvetica Neue, Arial, sans-serif;
    background-color: $almost_black;
    color: $almost_white;
    font-size: $normal;
}

a {
    color: $blue;

    &:hover,
    &:focus {
        color: $light_blue;
    }
}

[class^=da-h] {
    @include headings;
}

[class^=da-dark-h] {
    @include headings_dark;
}

[class*=h1] {
    font-size: $heading_large;
    font-family: 'JosefinSansThin';
}

[class*=h2] {
    font-size: $large;
}

[class*=h3] {
    font-size: $normal;
    padding-bottom: base(2);
}

[class^=da-h3] {
    border-bottom: 1px solid $almost_white;
}

[class^=da-dark-h3] {
    border-bottom: 1px solid $almost_black;
}



.da-content {
    padding: $page_margins;
}
