<!DOCTYPE html>
<html>
<head>
  <title>Dynamic Improvement of UI</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header>
        <div class="da-header">
            <!-- some basic information about the project -->
            <h1 class="da-h1">Automatically Accessible</h1>
            <span>Looking for better ways to make web content available to everyone</span>
        </div>
    </header>

    <nav>
        <div class="da-nav" role="menu">
            <ol class="da-nav-list">
                <li class="da-nav-list-item">
                    <a href="http://localhost:3000/about" role="menuitem" class="da-button da-button-list">About the Project</a>    
                </li>
                <li class="da-nav-list-item">
                    <a href="/resources" class="da-button da-button-list">Accessibility Resources</a>    
                </li>
                <!-- This link should change if they are logged in -->
                <% if @participant.nil? %>
                    <li class="da-nav-list-item">
                        <a href="/register" class="da-button da-button-list">Register to Participate</a>    
                    </li>
                    <li class="da-nav-list-item"> 
                        <a href="/login" class="da-button da-button-list">Participant Log-in</a>    
                    </li>
                <% else %>
                    <li class="da-nav-list-item"> 
                        <a href="/logout" class="da-button da-button-list">Log Out</a>    
                    </li>
                <% end %>
            </ol>
        </div>
    </nav>

    <section>
        <div class="da-content">
            <%= yield :body %>
        </div>
    </section>

</body>
</html>
